{% if relaystate %}
<form class="relayStateForm" action="{{ relaystate.create_new_url }}" id="{{ relaystate.unique_element_id }}" method="POST">
    {% csrf_token %}
    <div class="relaystateEntry">

        <div class="relaystateField">
            <div><label for="{{ relaystate_form.data_store.id_for_label }}">DATA STORE</label></div>
            {{ relaystate.form.data_store }}
        </div>

        <div class="relaystateField">
            <div><label for="pattern_type">PATTERN TYPE</label></div>
            {{ relaystate.form.pattern_type }}
        </div>

        <div class="relaystateField">
            <div><label for="destination_endpoint">DESTINATION ENDPOINT</label></div>
            {{ relaystate.form.destination_endpoint }}
        </div>

        <input type="submit" value="SAVE" formMethod="POST" formTarget="{{ relaystate.create_new_url }}" id="NEW_RELAYSTATE_SAVE_BUTTON" onclick="submitForm(event)">
        <input type="submit" value="DELETE" formMethod="DELETE" formTarget="/ui/sp/delete/DESTINATION/NEW" id="NEW_DESTINATION_DELETE_BUTTON" onclick="submitForm(event)">

    </div>
    <div class="urlPattern relaystateField">
        <div><label for="url_pattern">URL PATTERN</label></div>
        {{ relaystate.form.url_pattern }}
    </div>
</form>
{% else %}
<p>No RelayStates received from the view.</p>
{% endif %}
